<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
        <!--    取别名,就可以不写全路径，必须放在configuration第一行-->
<!--    <typeAliases>
        <typeAlias type="com.zsp.study.pojo.Book" alias="Book"></typeAlias>
        <typeAlias type="com.zsp.study.pojo.Book" alias="book"></typeAlias>
    </typeAliases>-->
</configuration>